*{
  font-family:  "merriweather", "Roboto Slab", serif;
}
@import url(https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab&display=swap);

html,body{
  height:100vh;
  min-width:100vw;
  padding:0;
  margin:0;
}
.title{
  margin-top:70px;
  font-size: 30px;
  font-weight: 500;
  /* letter-spacing: 1px; */
}
.intro{
  margin:10vh 30vw;
  font-weight:200;
  /* letter-spacing: 1px; */
  line-height: 2em;
  font-size: 10pt;
  
}

.App {
  text-align: center;
  min-height:100%;
}
.app{
  text-align: center;
  min-height:100%;
  width: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.abt{
  position:relative;
  top:-10vh;
}
.abt h2{
  position: relative;
  top:5vh;
  font-weight:500;
}
.abt p{
  position: relative;
  top:-1vh;
}
.abt img{
  width:15vw;
}
a{
  text-decoration: none;
  color:#888888;
}
a:active{
  color:#888888;
}
a:hover{
  color:#777777;
}
a:visited{
  color:#888888;
}

.back{
  position:relative;
  right:22.5vw;
  top:1vh;
  font-size:10px;
  letter-spacing: 0.35pt;
  
}
.back:hover{
  color:#eeeeee;
}
.bg{
  position:absolute;
  top:20px;
  left:0vw;
  opacity:75%;
}
.logo{
  position:absolute;
  top:5vh;
  width:120px;
  left:52vw;
}
.logoo{
  position:absolute;
  top:8vh;
  width:95px;
  margin-left:10vw;
}
.content{
  /* height:100 vh; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
  align-content:flex-start;

}
.profile{
  width:10vw;
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
  left:45vw;
  /* top:-10vh; */
}
nav{
  z-index: 100;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 10vh;
  /* background: aqua; */
  color: #4d3e3e;
  font-size: 12px;
  margin-bottom: 100px;
  margin-top:50px;
  /* border:solid; */
}

.nav-link{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  
}
.menu{
  padding:2.5vw;
}
span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #888888;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #888888;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #888888;
  width: 110%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.pic{
  position: relative;
  width:32.5vw;
  transition:0.75s;
  /* top:-20vw; */

}

.pic:hover{
  opacity:0;
  
}
.grid{
  background-color: rgba(244,244,244,0);
  transition: 0.25s ;
  
}
.grid:hover{
  background-color:rgb(142, 198, 197,0.5);
}
.gallery{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:0px;
  height:33vw;
  top:-10vw;
  
}
.gallery:hover .info{
  color:#4d3e3e;
  cursor:pointer;
}
.info{
position: relative;
display:flex;
flex-direction:column;
justify-content: center;
text-align:center;
align-items:center;
color:white;
top:20vw;
transition:0.25s;
}
.worktitles hr{
  width:10%;
  text-align: left;
  margin-left:0;
}

.worktitles{ 
  text-align: left;
  /* margin-top:30vh; */
  font-size: 10px;
  /* border: solid 2px; */
  padding:8vw;
  color:#4d3e3e;
  /* top:350px; */
  position:relative;
  z-index:-1;

}
.worktitles strong{
  letter-spacing: 1px;
}
.worktitles p{
  line-height: 2em;
  color:#555555;
}
.projectName{
  font-size:1.5em;
  font-weight: 500;
}

.worktitles p{
  font-size: 0.9em;
}

.worktitle{ 
  text-align: left;
  margin-left: 10vw;
  /* margin-top:30vh; */
  font-size: 13px;
  /* border: solid 2px; */
  padding:5vw;
  color:#4d3e3e;
}
.worktitle p{
  line-height: 2em;
  color:#555555;
}
.projectName{
  font-size:1.5em;
  font-weight: 500;
}

.worktitle p{
  font-size: 0.9em;
}
.worktitle hr{
  width:10%;
  text-align: left;
  margin-left:0;
}
.subtitle{
  position: relative;
  top:12.5vh;
  font-weight: 200;
  font-size:20px;
}
.section1{
display:flex;
align-items: flex-start;
justify-content:space-evenly;
}
.wording{
  width:40vw;
  height:100vh;
  position: fixed;
  right:-5.5vw;
  padding:1vw;
  /* background-color: red; */
}
.visual{
  position:relative;
  right:10vw;
  width:60vw;
  height:100vh;
  top:-50px;
  /* display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center; */
}
.reel{
  position:relative;
  display:flex;
  justify-content: center;
  /* width:720px;
  height:405px; */
  left:20vw;
  top:-15px;
}
.reelr{
  position:absolute;
  top:15px;
  width:70%;
  height:70%;
}

.player{
  padding:56.25% 0 0 0;
  position:relative;
  display:flex;
  justify-content:center;
}

.video{
  position:relative;
  display:flex;
  justify-content: flex-end;
  width:640px;
  height:360px;
  /* margin-bottom:80px; */
}
.playerr{
  padding:0 0 0 0;
  /* position:relative; */
  
}
.videor{
  position:absolute;
  display:flex;
  justify-content:flex-end;
  width:100%;
  height:100%;
  top:-100px;
}
.styleframes{
  position:relative;
  display:flex;
  flex-direction:column;
  top:100px;
  right:1vw;
}
.styleframe{
  position:relative;
  display:flex;
  justify-content: flex-end;
  width: 55vw;;
  padding:10px;
  /* margin-top: 5vh; */
}
.copy{
  font-size: 0.5em;
  margin-bottom:1vh;
  position: relative;
  /* left:1vw; */
}
.copyright{
  position:relative;
  font-size: 0.5em;
  margin-bottom:1vh;
  /* right:20vw; */
}
.footer{
  position: relative;
  /* bottom: -50px; */
  display:flex;
  justify-content:center;
  z-index:1;
  margin-top:1vh;
  /* margin-left:2vw; */
  margin-bottom:1vh;
  /* background-color: aqua; */
}
.footers{
  position: relative;
  /* bottom: -50px; */
  display:flex;
  justify-content:flex-end;
  z-index:1;
  margin-top:55vh;
  margin-right:40vw;
  margin-bottom:2vh;
  /* background-color: aqua; */
}

.icon{
  padding:15px;
  width:20px;
}