*{
  /* border: 2px solid; */
  font-family:  "Merriweather", Courier, serif;
}

.title{
  margin-top:70px;
  font-size: 40px;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.App {
  text-align: center;

}
.app{
  text-align: center;
  min-height:100vh;
  width: auto;
  background:#eeeeee;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.content{
  /* height:100 vh; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
  align-content:flex-start;


}
.profile{
  width:10vw;
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
  left:45vw;
  /* top:-10vh; */
}
nav{
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 10vh;
  /* background: aqua; */
  color: #4d3e3e;
  font-size: 12px;
  margin-bottom: 100px;
  margin-top:50px;
  /* border:solid; */
}
a{
  text-decoration: none;
  color:#888888;
}
a:active{
  color:#888888;
}
a:hover{
  color:#777777;
}
a:visited{
  color:#888888;
}
.nav-link{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #888888;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #888888;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #888888;
  width: 110%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.pic{
  position: relative;
  width:32.5vw;
  transition:1s;
  top:-20vw;

}

.pic:hover{
  opacity:30%;
}

.gallery{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:0px;
  height:33vw;
  top:10vw;
  
}

.info{
position: relative;
display:flex;
flex-direction:column;
justify-content: center;
text-align:center;
align-items:center;

}


.worktitle{ 
  text-align: left;
  margin-left: 10vw;
  /* margin-top:30vh; */
  font-size: 15px;
  font-weight: 200;
  /* border: solid 2px; */
}

.worktitle p{
  font-size: 15px;
}

.banner{
  position: relative;
  width:90vw;
  opacity: 90%;
}
.section1{
display:flex;

align-items: flex-start;
justify-content:space-evenly;
}
.wording{
  width:40vw;
  height:100vh;
  /* background-color: red; */
}
.visual{
  width:60vw;
  height:100vh;
  /* display:flex;
  flex-direction: column;
  justify-content: flex-start; */

  /* background:blue; */
}
.video{
  position:relative;
  display:flex;
  justify-content: flex-end;
  width:640px;
  height:360px;
  margin-bottom:80px;
}
.styleframe{
  position:relative;
  display:flex;
  justify-content: flex-end;
  width: 620px;
  padding:10px;

}